.onlysuscripcion{position: relative;height: 40px}
.onlysuscripcion input{height: 100% !important}
.onlysuscripcion button{height: 100% !important}
					
.tobloqued{position: relative;}
.tobloqued.active .capa1{position: absolute;width:100%;height: 100%;background: rgba(0, 0, 0, 0);top:0;left:0;z-index: 9999;cursor: wait;}

/*Ver clave*/
#verclave{position:  relative;}
#verclave.error.active a,
#verclave.active a{color: #66340F;}
#verclave.error a{color:white;}
#verclave a{
	position: absolute;
	right: 10px;
	top: 5px;										
	color: #F5B667;
	font-size: 25px;
}

/*Loading*/
#loader .icono:after {
    content: 'Cargando...';
    position: absolute;
    bottom: -20px;
    left: -20px;
    font: 12px Verdana;
    color: #817878;
}
#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.77);
    z-index: 9999;
    display: none;
    left:0;
    top:0;
}
#loader .icono{position:absolute;width:30PX;height:30PX;margin:auto;top:0;bottom:0;right:0;left:0;background-image: url('../imagenes/loader.gif');}

/*Footer Logo Manya*/
#manyape {display: table;max-width: 400px}
#manyape .copy {display: table-cell;vertical-align: middle;}
#manyape .copy a {text-align: left;text-decoration: none;font: 15px open_sans;color: #712e0f;-webkit-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
#manyape .copy a:hover {color: #533e33;}
#logomanya{width: 40px;display: inline-block;}
#logomanya img{width: 100%}
.derechos{font:14px open_sans;color: #66340f}

/*Alertas*/
/*body.frmSuccess #contenedor-alerta{
	background: #61FF69;
}*/
body.showContenedor #contenedor-alerta,
#contenedor-alerta.block{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
body.showContenedor #contenedor-alerta .progress,
#contenedor-alerta.block .progress{
	-webkit-animation: runProgress 4s linear forwards 0.5s;
	-moz-animation: runProgress 4s linear forwards 0.5s;
	-o-animation: runProgress 4s linear forwards 0.5s;
	-ms-animation: runProgress 4s linear forwards 0.5s;
	animation: runProgress 4s linear forwards 0.5s;
}
#contenedor-alerta .progress{
	position: absolute;
	top:0;
	left:0;
	height: 4px;
	width:0%;
}
#contenedor-alerta{
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px);
	transform: translateY(100px);
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: auto;
	background: #EF7169;
	color: #fff;
	z-index: 10;
}
.area-contador{position: relative;}
.area-contador .contador{
	position: absolute;
	bottom: -17px;
	right: 18px;
	font: 13px open_sans;
	color: #66340f;
}
#contenedor-alerta .texto{position: relative;text-align: center;padding: 10px;font:18px open_sans;color: #fff}

@-webkit-keyframes runProgress {
	0%{ width: 0%; background: #DD4A40 }
	100%{ width: 100%; background: #DD4A40 }
}

@-moz-keyframes runProgress {
	0%{ width: 0%; background: #DD4A40 }
	100%{ width: 100%; background: #DD4A40 }
}

@-o-keyframes runProgress {
	0%{ width: 0%; background: #DD4A40 }
	100%{ width: 100%; background: #DD4A40 }
}

@-ms-keyframes runProgress {
	0%{ width: 0%; background: #DD4A40 }
	100%{ width: 100%; background: #DD4A40 }
}

@keyframes runProgress {
	0%{ width: 0%; background: #DD4A40 }
	100%{ width: 100%; background: #DD4A40 }
}

/*To iframes*/
.toiframe {
	padding-bottom: 56.25%;
	position: relative;
	text-align: left;
	z-index: 1;
}
.toiframe iframe ,
.toiframe object {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*Genral Control Clone*/
.general-control-clone{
	width: 100%;
}
.general-control-clone .control-clone{
	/*padding-bottom: 25px;*/
	margin-bottom: 25px;
}
.general-control-clone .control-clone{
	position: relative;
}
	.general-control-clone .control-clone .textoayuda{
		position: absolute;
		top: 65px;
		left: 20px;
	}
	.general-control-clone .control-clone .textoayuda.textarea{
		position: absolute;
		top: inherit;
		bottom: inherit;
		left: 20px;
		padding-top: 5px;
	}
.general-control-clone .control-clone span.correcto,
.general-control-clone .control-clone span.incorrecto{
	position: relative;
	padding-left: 25px;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}
.general-control-clone .control-clone span.incorrecto{
	color: #fff;
}
.general-control-clone .control-clone span.correcto{
	color: #fff;
}
.control-clone input+label.error{display: none !important;}
.control-clone textarea+label.error{display: none !important;}
.control-clone span.incorrecto,
.control-clone span.correcto{
  display: none;
}
.control-clone.error span.incorrecto{
  /*display: block !important;*/
  display: none !important;
}
.control-clone.error span.correcto{
  display: none !important;
}
.control-clone.success span.correcto{
  display: block !important;
}
.control-clone.success span.incorrecto{
  display: none !important;
}
.control-clone.success span.correcto .txt-cloned{
  font-style: normal;
  padding: 0 4px;
  text-transform: lowercase;
  color: #E2E2E2;
  font-style: italic;
  font-weight: bold;
}
.control-clone span.correcto:after,
.control-clone span.incorrecto:after{
	content: '';
	display: inline-block;	
	background: url(../imagenes/sprite.png);
	margin-right: 13px;
	position: absolute;	
	left: 0px;
	background-repeat: no-repeat;		
}
.control-clone span.incorrecto:after{
	top: -1px;
}
.control-clone span.correcto:after{
	top: 1px;
}
	.control-clone span.incorrecto:after{
		background-position: -229px -80px;
		width: 19px;
		height: 16px;
	}
	.control-clone span.correcto:after{
		background-position: -261px -82px;
		width: 12px;
		height: 14px;
	}	

/*Error Focus {input & textarea}*/
.error input.myinput:focus{
	-webkit-box-shadow:0px 0px 5px #B32E26 !important;
    -moz-box-shadow:0px 0px 5px #B32E26 !important;
    -ms-box-shadow:0px 0px 5px #B32E26 !important;
    -o-box-shadow:0px 0px 5px #B32E26 !important;
    box-shadow:0px 0px 5px #B32E26 !important;
}
.error textarea.mytextarea:focus{
	/*background: #F89A94;
	color: #fff;*/
}
/*General Focus {input & textarea}*/
input.myinput:focus{
	background: #fff;
}
textarea.mytextarea:focus{
	background: #fff;
}
/*Error Styles {Input & Textarea} */
.error input.myinput{
	background: #EF7169;
	color: #fff;
	border-color: #FF574C !important
}
.error textarea.mytextarea{
	background: #EF7169;
	color: #fff;
}

/*General Styles {Input & Textarea} */

input.myinput:read-only{
	background: #D3D3D3 !important;
	border-color: #D3D3D3 !important;
	cursor: not-allowed !important; 
}
input.myinput{
	border-radius: 0px !important;
	width: 100%;
	margin: 0;
	border:none;	
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
textarea.mytextarea{	
	resize: none;
	width: 100%;
	margin: 0;
	border:none;	
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
/*General Placeholder {input & textarea}*/
input.myinput::-webkit-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
input.myinput:-moz-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
input.myinput:-ms-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
input.myinput:-o-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea::-webkit-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea:-moz-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea:-ms-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea:-o-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
/*Error Placeholder {input & textarea}*/
.error input.myinput::-webkit-input-placeholder {
	color: #fff !important;	
}
.error input.myinput:-moz-input-placeholder {
	color: #fff !important;	
}
.error input.myinput:-ms-input-placeholder {
	color: #fff !important;	
}
.error input.myinput:-o-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea::-webkit-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea:-moz-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea:-ms-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea:-o-input-placeholder {
	color: #fff !important;	
}

/*My Input Style #1*/
.success input.style1
.success input.style1,
input.style1{
	padding: 7px;	
	text-align: left;
	font: 18px roboto;	
    background-color: #fff;
    color: #66340f;   
    overflow: visible;
}
	input.style1:focus{
		-webkit-box-shadow:0px 0px 5px #66340f;
	    -moz-box-shadow:0px 0px 5px #66340f;
	    -ms-box-shadow:0px 0px 5px #66340f;
	    -o-box-shadow:0px 0px 5px #66340f;
	    box-shadow:0px 0px 5px #66340f;
	}

/*My Input Style #2*/
.success select.style2,
.success input.style2,
select.style2,
input.style2{
	border: 1px solid #f3a848;
	padding: 7px;	
	text-align: left;
	font: 18px roboto;	
    background-color: #fff;
    color: #66340f;   
    overflow: visible;
}
	.success input.style2:focus,
	input.style2:focus{
		-webkit-box-shadow:0px 0px 5px #fedb87;
	    -moz-box-shadow:0px 0px 5px #fedb87;
	    -ms-box-shadow:0px 0px 5px #fedb87;
	    -o-box-shadow:0px 0px 5px #fedb87;
	    box-shadow:0px 0px 5px #fedb87;
	}

/*My Textarea Style #1*/
.success textarea.style1,
textarea.style1{
	height: 120px;
	width: 100%;
	padding: 15px;	
	color: #8d8d8d;
	text-align: left;
	font: 18px open_sans;		
	border: 1px solid #f3a848;
	padding: 7px;	
	text-align: left;
    background-color: #fff;
    color: #66340f;   
    overflow: visible;
}
	.success textarea.style1:focus,
	textarea.style1:focus{
		-webkit-box-shadow:0px 0px 5px #fedb87;
	    -moz-box-shadow:0px 0px 5px #fedb87;
	    -ms-box-shadow:0px 0px 5px #fedb87;
	    -o-box-shadow:0px 0px 5px #fedb87;
	    box-shadow:0px 0px 5px #fedb87;
	}

/*============================================*/
/*[Error] - Style 1*/
/*Textarea & Input & Select */
.error textarea.style1,
.error select.style1,
.error input.style1{
	border-color:#EF7169;
}
	.error select.style2:focus,
	.error input.style2:focus,
	.error textarea.style2:focus{
		-webkit-box-shadow:0px 0px 5px #EF7169 !important;
	    -moz-box-shadow:0px 0px 5px #EF7169 !important;
	    -ms-box-shadow:0px 0px 5px #EF7169 !important;
	    -o-box-shadow:0px 0px 5px #EF7169 !important;
	    box-shadow:0px 0px 5px #EF7169 !important;
	}
	}
	


/*================My Buttons======================*/

.mybut{
	font-family: roboto;
	position: relative;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: none;
	background: transparent;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.mybut i:before{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*My buts*/
.mybut.but-style1>span{
	font-weight: bold;
	background: #66340f;	
	color: #f3a848;
	text-align: center;
	padding: 8px 30px;
	font-size: 21px;
	display: block;
}
.mybut.but-style1.active,
.mybut.but-style1:not([disabled]):hover{
	/*background: #66340f;*/
	box-shadow:inset 4px 4px 0px #f3a848,inset -4px -4px 0px #f3a848;
	-webkit-box-shadow:inset 4px 4px 0px #f3a848,inset -4px -4px 0px #f3a848;
	-moz-box-shadow:inset 4px 4px 0px #f3a848,inset -4px -4px 0px #f3a848;
	-ms-box-shadow:inset 4px 4px 0px #f3a848,inset -4px -4px 0px #f3a848;
	-o-box-shadow:inset 4px 4px 0px #f3a848,inset -4px -4px 0px #f3a848;
}
.mybut.but-style1:active{
	-webkit-transform: scale(0.97,0.97);
	-ms-transform: scale(0.97,0.97);
	-o-transform: scale(0.97,0.97);
	transform: scale(0.97,0.97);
}
.mybut.but-style1{
	padding: 8px;
	box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-webkit-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-moz-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-ms-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-o-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
}
.mybut.but-style1.active>span,
.mybut.but-style1:not([disabled]):hover>span{
	background: #f3a848;
	color: #66340f;
}
/*Style2*/
.mybut.but-style2>span{
	font-weight: bold;
	background: #fedb87;	
	color: #66340f;
	text-align: center;
	padding: 5px 10px;
	font-size: 18px;
	display: block;
}
.mybut.but-style2:not([disabled]):hover{
	/*background: #66340f;*/
	box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-webkit-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-moz-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-ms-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
	-o-box-shadow:inset 4px 4px 0px #66340f,inset -4px -4px 0px #66340f;
}
.mybut.but-style2{
	padding: 8px;
	box-shadow:inset 4px 4px 0px #fedb87,inset -4px -4px 0px #fedb87;
	-webkit-box-shadow:inset 4px 4px 0px #fedb87,inset -4px -4px 0px #fedb87;
	-moz-box-shadow:inset 4px 4px 0px #fedb87,inset -4px -4px 0px #fedb87;
	-ms-box-shadow:inset 4px 4px 0px #fedb87,inset -4px -4px 0px #fedb87;
	-o-box-shadow:inset 4px 4px 0px #fedb87,inset -4px -4px 0px #fedb87;
}
.mybut.but-style2:not([disabled]):hover>span{
	background: #66340f;
	color: #fedb87;
}
/*But:Disabled*/
.mybut.but-style1[disabled]>span,
.mybut.but-style2[disabled]>span{background: gray;color: white}
.mybut.but-style1[disabled],
.mybut.but-style2[disabled]{
	box-shadow:inset 4px 4px 0px gray,inset -4px -4px 0px gray;
	-webkit-box-shadow:inset 4px 4px 0px gray,inset -4px -4px 0px gray;
	-moz-box-shadow:inset 4px 4px 0px gray,inset -4px -4px 0px gray;
	-ms-box-shadow:inset 4px 4px 0px gray,inset -4px -4px 0px gray;
	-o-box-shadow:inset 4px 4px 0px gray,inset -4px -4px 0px gray;
}


 /*But facebook*/
 .mybut.but-style3 .tof{
 	border-right: 1px solid #fff;
 }

 .mybut.but-style3 div{padding: 0px}
 .mybut.but-style3 i{font-size: 30px}
 .mybut.but-style3 em{
	font: 20px roboto;
 }
 .mybut.but-style3>span{
	font-weight: bold;
	background: #183675;	
	color: #fff;
	padding: 5px 10px;	
	display: block;
	text-align: center;
}
.mybut.but-style3:hover{
	/*background: #66340f;*/
	box-shadow:inset 4px 4px 0px #183675,inset -4px -4px 0px #183675;
	-webkit-box-shadow:inset 4px 4px 0px #183675,inset -4px -4px 0px #183675;
	-moz-box-shadow:inset 4px 4px 0px #183675,inset -4px -4px 0px #183675;
	-ms-box-shadow:inset 4px 4px 0px #183675,inset -4px -4px 0px #183675;
	-o-box-shadow:inset 4px 4px 0px #183675,inset -4px -4px 0px #183675;
}
.mybut.but-style3{
	padding: 8px;
	box-shadow:inset 4px 4px 0px #3c5a98,inset -4px -4px 0px #3c5a98;
	-webkit-box-shadow:inset 4px 4px 0px #3c5a98,inset -4px -4px 0px #3c5a98;
	-moz-box-shadow:inset 4px 4px 0px #3c5a98,inset -4px -4px 0px #3c5a98;
	-ms-box-shadow:inset 4px 4px 0px #3c5a98,inset -4px -4px 0px #3c5a98;
	-o-box-shadow:inset 4px 4px 0px #3c5a98,inset -4px -4px 0px #3c5a98;
}
.mybut.but-style3:hover>span{
	background: #183675;
}


/*Input Type[Checkbox]*/
.content-check{	
	display: table;
}	
	.content-check label{
		cursor: pointer;
	}
	.content-check>div{
		display: table-cell;
		vertical-align: middle;
		padding-right: 1px;		
	}
	.content-check>div:first-child{
		width: 30px;
	}
	.content-check>div:last-child{
		font:19px roboto;
		color: #5b5b5b;
		cursor: pointer;
		width: auto;	
		padding-left: 10px;
	}
	.content-check>div a:hover{
		text-decoration: underline;
	}
	.content-check>div a{
		display: inline-table;
		font:19px roboto;
		color: #5b5b5b;
	}
	input[type=checkbox].check {
		display: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
	}	
	input[type=checkbox].check + label {
		cursor: pointer !important;
		float: left !important;
		display: inline-block !important;
		box-shadow: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
		background: #fff; 
		display: inline-block; 		
		text-indent: -1000em;
	}
	input[type=checkbox].check + label {
		background: url(../imagenes/sprite.png) -9px -102px ;
		width: 31px;
		height: 31px;
		background-repeat: no-repeat;
	}
	input[type=checkbox].check:checked + label { 
		background: url(../imagenes/sprite.png) -50px -102px no-repeat !important;
	}

/*Input type Radio*/
.content-radio{	
	display: table;
}	
	.content-radio label{
		cursor: pointer;
	}
	.content-radio>div{
		display: table-cell;
		vertical-align: middle;
		padding-right: 1px;		
	}
	.content-radio>div:first-child{
		width: 35px;
	}
	.content-radio>div:last-child{
		font:19px roboto;
		color: #5b5b5b;
		cursor: pointer;
		width: auto;	
		padding-left: 10px;
	}
	.content-radio>div a:hover{
		text-decoration: underline;
	}
	.content-radio>div a{
		display: inline-table;
		font:19px roboto;
		color: #5b5b5b;
	}
	input[type=radio].radio {
		display: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
	}
	input[type=radio].radio + label { 
		/*added*/
		cursor: pointer !important;
		float: left !important;
		display: inline-block !important;
		/*end added*/
		box-shadow: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
		background: #fff; 
		display: inline-block;
		background-repeat: no-repeat;
		background: url(../imagenes/sprite.png) -48px -11px;
		width: 30px;
		height: 30px;
		text-indent: -9900em;
	}
	input[type=radio].radio:checked + label { 
		background-repeat: no-repeat;
		background: url(../imagenes/sprite.png) -11px -11px;	
	}


/*Listas*/
ul.mylist-0{
	list-style: none;
}
	ul.mylist-0 li{
		position: relative;
		padding-left: 35px;
		font: 17px open_sans;
		color: #505050;
		margin-bottom: 10px;
	}
	ul.mylist-0 li:before{
		content: '';
		background: url(../imagenes/sprite.png) -14px -56px no-repeat;
		width: 23px;
		height: 23px;
		position: absolute;
		top: 2px;
		left: 0;
	}
	ul.mylist-0 li>span{
		color: #653a8f; 
	}

ul.mylist-1{
	list-style: none;
}	
	ul.mylist-1 li{
		position: relative;
		padding-left: 15px;
		margin-bottom: 5px;		
	}
	ul.mylist-1 li:before{
		-moz-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}		
	ul.mylist-1 li:hover:before{		
		width: 10px;
		height: 10px;
		background: #712e0f;	
	}
	ul.mylist-1 li:before{
		content: '';
		position: absolute;
		top: 13px;
		left: 0;
		width: 7px;
		height: 7px;
		background: #818d13;
		border-radius: 50%;	
	}
	

/*Paginador*/
.paginator{
	width: 100%;
	display: block;
	margin: 10px auto;
	padding: 10px 0;
	/*border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
}
	.paginator ul{
		max-width: 400px;
		display: table;		
		margin: 0 auto;
	}
		.paginator ul li a:hover,
		.paginator ul li a.active{			
			color: #fab43c;
			border-color:#fab43c;
			background: #66340f;
		}
		.paginator ul li{
			display: table-cell;
			vertical-align: middle;
			padding-right: 3px
		}			
			.paginator ul li a.other{
				width: auto !important;
			}
			.paginator ul li a.next{
				-webkit-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				transform: rotate(180deg);
			}
			.paginator ul li a{
				padding: 0 2px;
				display: table-cell;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				-webkit-transition: background .1s ease-in-out;
				-moz-transition: background .1s ease-in-out;
				-ms-transition: background .1s ease-in-out;
				-o-transition: background .1s ease-in-out;
				transition: background .1s ease-in-out;
				border-radius: 4px;		
				color: #f3a848;
				font-style: italic;
				text-align: center;				
				font: 15px open_sans;
				border: 1px solid #fab43c;				
			}

/*Text limited(read more)*/
.text-limited p{opacity: 0}


.text-limited .text-hidden{
	display: none;
}

.btn-text-limited{
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	margin-top: 1px;
	cursor: pointer;
	display: inline-block;
	width: auto;
	/*padding: 5px 10px;*/
	text-align: center;
}
.btn-text-limited{
	color: #2EC4E4;
	font: 18px roboto;
	margin-top: 5px;
	text-align: right;
	float: right;
	border-bottom: 1px solid #2EC4E4;
}
.btn-text-limited:hover{
	border-bottom: 1px solid #1d7fa7;
	color: #1d7fa7;
}


/*Select 2 bootstrap validate*/
	/*[Select]*/
		/*Color*/
		.select2-results li {
		    border-bottom: 1px solid rgba(143, 143, 143, 0.17);
		    color: #66340f;
		}
				/*Hover del option*/
		.select2-results .select2-highlighted {
			background: #f3a848;
			color: #fff;
		}
		.select2-results{border: 1px solid #F3A848 ;color:#333;  max-height: 200px;}

		/*Success*/
		.select2-search{display: none !important}
		
		.select2-container .select2-choice > .select2-chosen {line-height: 35px}
		.select2-container .select2-choice{
		    /*border: 1px solid #66340f;*/
		    background-color: #fff;
		    border-radius: 0px;
		    padding: 0 0 0 13px !important;  
		    height: 37px !important;
		    overflow: visible;

			font: 17px roboto;
			border: 1px solid #F3A848 !important;
			line-height: 31px !important;
			color: #978D8D
		}
		/* FLECHITA */
		.select2-dropdown-open .select2-choice .select2-arrow b {
		    background-position:-97px -56px;
		}
		.select2-container .select2-choice .select2-arrow b {
		    display: block;
		    background: url(../imagenes/sprite.png) no-repeat -97px -11px;
			width: 36px;
			height: 35px;
		    position: relative;
		    top: 0px;
		    right: 11px;
		}

		.select2-container-multi .select2-choices .select2-search-field input{
			color: #A0A0A0;
			font: 15px roboto;
		}
		
		.select2-container-multi .select2-choices{
			width: 100%;
			color: #8d8d8d;
			text-align: left;
			font: 15px roboto;
			border: 1px solid #66340f;
			background-color: #fff;
			color: #66340f;
			overflow: visible;
		    height: 30px;
		}
		/*Error*/
		.error a.select2-choice {
			background: #F89A94 !important;
			color: #fff !important;
			border: 1px solid #F89A94 !important;
			-webkit-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-moz-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-ms-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-o-box-shadow: inset 0px 2px 0 #F89A94 !important;
			box-shadow: inset 0px 2px 0 #F89A94 !important;
		}

	/*[Multi Tags]*/
		/*Error*/
		.error .select2-default{
			color: #fff !important;		
		}	
		.error .select2-container-multi .select2-choices {
		    background: #F89A94 !important;	    
		    border: 1px solid #F89A94 !important;
			-webkit-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-moz-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-ms-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-o-box-shadow: inset 0px 2px 0 #F89A94 !important;
			box-shadow: inset 0px 2px 0 #F89A94 !important;
		}


/*Richtext*/
.richtext {
    font-size: 17px;
    font-family: "roboto";
    color: #444;
    line-height: 23px;
    width:100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 10px;
} 
.richtext p{
    font-size: 17px;
    font-family: "roboto";
    color: #444;
    line-height: 23px;
    text-align: justify;
    margin-bottom: 1.3em;
} 
.richtext ul, .richtext ol{
    padding-left: 19px;
}
.richtext ol ul li,
.richtext ul li{
    margin-bottom: 1em;
    list-style: disc;
} 
.richtext ol li{
    margin-bottom: 1.3em;
    list-style: decimal;    
    
} 
.richtext h1{
   font-size: 35px;
   margin-bottom: 30px;
}
.richtext h2{
  font-size: 30px; 
  margin-bottom: 20px;
}
.richtext h3{
   font-size: 25px;
   margin-bottom: 15px;
}
.richtext h4{
   font-size: 18px;
   margin-bottom: 15px;
}
.richtext em{
   font-style: italic; 
}
.richtext strong{
   font-weight: bold;   
}
.richtext a{
   color:#FF9B1D; 
}
.richtext a:hover{
   color:#FF2A2A;
   text-decoration: underline;
}
.richtext .justifyright{
    text-align: right;
}
/* end Richtext */


@media only screen and (max-width: 992px){
	.mybut{display: block;width: 100%;padding: 10px !important}
	#manyape{margin: 0 auto;}
	.derechos{text-align: center !important;padding-top: 10px;}
}
