@font-face {
	font-family: 'icomoon';
	src:url('../fuentes/icomoon/icomoon.eot?-j3ni0p');
	src:url('../fuentes/icomoon/icomoon.eot?#iefix-j3ni0p') format('embedded-opentype'),
		url('../fuentes/icomoon/icomoon.woff?-j3ni0p') format('woff'),
		url('../fuentes/icomoon/icomoon.ttf?-j3ni0p') format('truetype'),
		url('../fuentes/icomoon/icomoon.svg?-j3ni0p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "handle";
	src: url('../fuentes/handle/Handlee-Regular.eot') format('eot'),
	url('../fuentes/handle/Handlee-Regular.woff') format('woff'),
	url('../fuentes/handle/Handlee-Regular.ttf') format('truetype'),
	url('../fuentes/handle/Handlee-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "open_sans";
	src: url('../fuentes/opensans/opensans-regular-webfont.eot') format('eot'),
	url('../fuentes/opensans/opensans-regular-webfont.woff') format('woff'),
	url('../fuentes/opensans/opensans-regular-webfont.ttf') format('truetype'),
	url('../fuentes/opensans/opensans-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "roboto_bold";
	src: url('../fuentes/roboto/Roboto-Bold.eot') format('eot'),
	url('../fuentes/roboto/Roboto-Bold.woff') format('woff'),
	url('../fuentes/roboto/Roboto-Bold.ttf') format('truetype'),
	url('../fuentes/roboto/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "roboto";
	src: url('../fuentes/roboto/Roboto-Regular.eot') format('eot'),
	url('../fuentes/roboto/Roboto-Regular.woff') format('woff'),
	url('../fuentes/roboto/Roboto-Regular.ttf') format('truetype'),
	url('../fuentes/roboto/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
