[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-calendar:before {
	content: "\e613";
}

.icon-map:before {
	content: "\e025";
}

.icon-pen:before {
	content: "\e614";
}

.icon-like:before {
	content: "\e60c";
}

.icon-home:before {
	content: "\e611";
}

.icon-alert:before {
	content: "\f02d";
}

.icon-plus:before {
	content: "\f05d";
}

.icon-search:before {
	content: "\f02e";
}

.icon-user:before {
	content: "\e606";
}

.icon-picture:before {
	content: "\e615";
}

.icon-mobile:before {
	content: "\e610";
}

.icon-folder:before {
	content: "\e607";
}

.icon-cart:before {
	content: "\e616";
}

.icon-phone:before {
	content: "\e608";
}

.icon-key:before {
	content: "\e617";
}

.icon-exit:before {
	content: "\e618";
}

.icon-googleplus:before {
	content: "\e609";
}

.icon-facebook:before {
	content: "\e60a";
}

.icon-twitter:before {
	content: "\e60b";
}

.icon-correo:before {
	content: "\e60d";
}

.icon-trashcan:before {
	content: "\e600";
}

.icon-direction:before {
	content: "\e60e";
}

.icon-pinterest:before {
	content: "\e601";
}

.icon-help:before {
	content: "\e602";
}

.icon-place:before {
	content: "\e60f";
}

.icon-circle-check:before {
	content: "\e042";
}

.icon-circle-cross:before {
	content: "\e043";
}

.icon-heart:before {
	content: "\f004";
}

.icon-asterisk:before {
	content: "\f069";
}

.icon-eye:before {
	content: "\f06e";
}

.icon-comment:before {
	content: "\f075";
}

.icon-cloud-upload:before {
	content: "\f0ee";
}

.icon-instagram:before {
	content: "\f16d";
}

.icon-cake:before {
	content: "\f1fd";
}

.icon-mail:before {
	content: "\e603";
}

.icon-user2:before {
	content: "\e612";
}

.icon-arrow-left:before {
	content: "\e604";
}

.icon-arrow-right:before {
	content: "\e605";
}

