/*My icons*/
[class^="myicon-"],
[class*="myicon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-image: url("../imagenes/sprite.png");
	background-repeat: no-repeat;
}
/*===========================================*/
.myicon-products{
	background-position:-151px -11px;
	width: 34px;
	height: 33px;
	margin-right: 6px;
}
.myicon-info{
	background-position:-201px -14px;
	width: 48px;
	height: 29px;
	margin-right: 6px;
}
.myicon-methods{
	background-position:-262px -6px;
	width: 41px;
	height: 32px;
	margin-right: 6px;
}
.myicon-calendar{
	background-position:-324px -15px;
	width: 26px;
	height: 26px;
}
.myicon-time{
	background-position: -365px -16px;
	width: 26px;
	height: 26px;
}
.myicon-delete{
	background-position: -406px -9px;
	width: 24px;
	height: 32px;
}
.myicon-user{
	background-position: -158px -65px;
	width: 21px;
	height: 25px;
}
.myicon-dates{
	background-position: -262px -70px;
	width: 43px;
	height: 41px;
}
.myicon-edit{
	background-position: -324px -83px;
	width: 20px;
	height: 20px;
}
.myicon-email{
	background-position: -365px -83px;
	width: 25px;
	height: 16px;
}
.myicon-cake{
	background-position: -405px -73px;
	width: 25px;
	height: 27px;
}



.ico-hover:hover .myicon-skype{
	background-position: -111px -64px;
}

