@import 'nib'
vendor-prefixes = webkit o ms moz official

rotar(x)	
	transform rotate(x)
transladar(x,y)	
	transform translate(x,y)
radius(radius)	
	border-radius radius
transicion(parametro)	
	transition parametro


lucuma = #f3a848
marron = #66340f 
marron2 = #533e33 
marronhover = #411F06 
amarillo = #fedb87
amarillohover = rgba(254,219,135,.6)
blanco = #ffffff
gris = #505050
maximo_ancho = 1500px
han = handle
rob = roboto
robo = roboto_bold
open = open_sans
ver = Verdana
maxw = 1500px
maxw2 = 1150px
maxw3 = 900px
maxw4 = 750px


.success+.txtrecuperar
	display none !important
.torecuperar
	display none
	
#meolvidemiclave
	font: 16px open
	color: gris
	text-decoration: underline
	&:hover
		color marron
	&.active
		i
			rotar (-90deg)
	i 
		rotar (90deg)
		display inline-block
		vertical-align -2px

.col-productos
	width 33%
	float left

.minicaja
	input
		+span
			display none !important
.txt
	font 18px open
	color marron
	strong
		font-weight bold
		color lucuma
		display block
		width 100%
	b 
		font-weight bold
		color lucuma
.enlace
	font 18px open
	color marron
	&:hover
		color lucuma
		text-decoration underline
// Contenido General
.myline1
	position relative
	&:before
		content ''
		background url('../imagenes/linea1.png') repeat-y
		width 1px
		height 100%
		position absolute
		top 0
		right 0
		display block !important
.myline2
	position relative
	&:before
		content ''
		background url('../imagenes/linea2.png') 0px 0 repeat-x
		width 100%
		height 1px
		position absolute
		top 0
		right 0
		display block !important
.myline3
	position relative
	&:before
		content ''
		background url('../imagenes/linea3.png') repeat-y
		width 1px
		height 100%
		position absolute
		top 0
		right 0
		display block !important
.myline4
	position relative
	&:before
		content ''
		background url('../imagenes/linea4.png') repeat-x
		width 100%
		height 1px
		position absolute
		top 0
		right 0
		display block !important
.myline5
	position relative	
	&:before
		content ''
		background url('../imagenes/linea5.png') repeat-x
		width 100%
		height 1px
		position absolute
		bottom 0
		right 0
		display block !important
		
#opciones
	display none
	transicion all .3s ease-in-out 3s
	li		
		a 
			padding 10px 0
			color white
			font 12px open
			text-align center
			&:hover
				background marron
				color lucuma
#menuresponsive
	position relative
	margin 0px auto
	display inline-block
	text-align center
	width 100%
	height 35px
	>div
		display inline-block	
			
	&:after
		position absolute
		right 10px
		left 0px
		font 18px open
		color white
		vertical-align 6px
.maxw4
	max-width maxw4
	margin 0 auto
.maxw3
	max-width maxw3
	margin 0 auto
.maxw2
	max-width maxw2
	margin 0 auto
.maxw
	max-width maxw
	margin 0 auto
.bg1
	background-color lucuma	
.flechas
	.flecha
		display inline-block
		margin 0 10px
		i			
			border 1px solid lucuma
			background-color trasparent
			radius 3px
			color lucuma
			font-size 26px
		&:hover
			i
				color lucuma
				background-color marron
				border-color marron	
		&.responsive
			display none
	
.todisabled
	&.active
		.capa
			display inline-block
	position relative	
	.capa
		display none
		z-index 999		
		background-color rgba(231, 231, 231, 0.5)
		position absolute
		top 0
		left 0
		width 100%
		height 100%
html,body
	width 100%
	overflow-x hidden !important
.but-main
	background mainceleste		
	-webkit-box-shadow 0px 4px 0 mainceleste_hover
	-moz-box-shadow 0px 4px 0 mainceleste_hover
	box-shadow 0px 4px 0 mainceleste_hover

.titulo	
	.capa
		padding 10px 0
		position relative
		&:after
			content ''
			background url('../imagenes/linea2.png') 0px 0 repeat-x
			width 100%
			height 1px
			position absolute
			top 0
			right 0
			left 0
			display block
			margin auto
		&:before
			content ''
			background url('../imagenes/linea2.png') 0px 0 repeat-x
			width 100%
			height 1px
			position absolute
			bottom 0
			right 0
			display block
		
		.lineas
			border-top 2px solid lucuma
			border-bottom 2px solid lucuma
			text-align center
			padding 7px 0			
			h2
				font 30px han
				color marron
				display inline-block
				strong
					color lucuma

// Compartir
.accion
	width 30px
	height 30px
	position absolute
	margin 0 auto
	right 0
	top 17px
	&.agregarproducto
		margin 0 auto
		text-align center
		position relative
	.opc		
		.circle
			width 30px
			height 30px
			radius 50%
			background marron
			color lucuma
			position relative
			margin 0 auto
			transition all .2s ease-in-out
			&:hover
				background lucuma
			.iconito
				width 16px
				height 16px
			&:hover
				color marron
				transform scale(1.2,1.2) rotate(360deg)
		&.compartir
			position relative
			.social
				position absolute
				right 0px
				bottom -55px
				background #66340f
				color #fff
				width 185px
				transladar 0px, 20px
				opacity 0
				&:after
					border 2px solid #66340f
					border-right-color transparent
					border-left-color transparent
					border-width 0px 6px 8px
					content ''
					position absolute
					right 7px
					top -7px
				li
					display inline-block
					a
						color white
						padding 10px
						border-right 1px solid rgba(255, 255, 255, 0.32)
						&:hover
							color lucuma													 
					&:last-child
						a
							border-right none !important
				&.activo
					transladar 0px, 0px
					opacity 1

// Popup de Libro
#popup
	opacity 0
	visibility hidden
	z-index -9999
	position fixed
	top 0
	left 0
	background trasparent
	width 100%
	height 100%
	padding 30px 40px	
	-webkit-backface-visibility hidden
	-moz-backface-visibility hidden
	backface-visibility hidden
	&.active
		opacity 1
		visibility visible
		z-index 9999
		position fixed
		top 0
		left 0
		background rgba(52, 52, 52, 0.5)
		width 100%
		height 100%
		.contenido
			position fixed
			top 50%
			left 50%
			transladar -50%,-50%
			.micaja
				transladar 0%,0%
				opacity 1
	p 
		font 16px rob
		color gris
	.contenido
		position relative
		transladar -50%,150%
		transition all 1s ease-in-out
		.close
			&.up
				position absolute
				top 10px
				right 10px
				color lucuma
				font-size 30px
				opacity 1
				z-index 1
				&:hover
					color marron
		.micaja
			background-color white
			padding 50px
			transladar 0%,20%
			opacity 0			
			.desc
				padding 13px 0
				
			h6
				font 26px han
				color marron
				text-align center
				padding-bottom 3px 
				border-bottom 1px solid lucuma
			.space
				padding 10px 0
			.tobut
				padding 20px 0
				margin-top 10px
				.mybut
					width 100%

// Lista de productos
.touch
	.productosfavoritos 
		.item .producto 
			.bg 
				.content 
					.descripcion
						position absolute !important
						.totop
							display none !important
						.tobottom
							position absolute !important
							height 100% !important
							width 100% !important
							a 
								position absolute !important
								height 100% !important
								width 100% !important
								padding 0px !important
								background none repeat scroll 0% 0% transparent !important
								box-shadow: none !important
								span
									position: absolute;
									background transparent
									top 50%
									left 50%
									transform translate(-50%,-50%)
									display block
									color #66340F !important
									width 100%

.productosfavoritos
	margin 30px auto 90px auto
	.item
		&.prodadded
			.agregarproducto
				width 100%
				height 100%
				vertical-align: middle
				color #563402
				font: 19px open
				font-weight: bold
		position relative	
		.etiqueta
			position absolute
			top 0
			right 0
			z-index 2
			.estado
				padding 13px
				color #fff
				text-transform capitalize
				&.nuevo
					background url(../imagenes/laso1.png) center center/contain no-repeat
				&.oferta
					background url(../imagenes/laso2.png) center center/contain no-repeat
				&.antiguo
					display none	
		.favoritos-but-responsive
			display none
		.producto
			position relative
			overflow hidden
			
			&.added
				.productoagregado
					display block !important
					span
						font-size 15px !important
				.agregarproducto
					display none
			&:hover
				.foto
					img
						transform scale(1.5,1.5) rotate(7deg)
				.bg
					opacity 1
					z-index 4
					.content 
						.descripcion 
							.tobottom
								transform translate(0,0)
								transition all .4s ease-out .01s					
					
			.foto
				position relative
				padding  0
				text-align center
				img					
					text-align center
					margin 0 auto
					width 100%
					vertical-align middle
					transition all .3s ease-in-out	
			.bg
				z-index 1
				opacity 0
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				background amarillohover
				.content
					height 50%
					width 80%
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					margin auto
					.descripcion
						position relative
						width 100%
						height 100%
						.totop
							position absolute
							top 0
							left 0
							text-align center
							width 100%
							.productoagregado
								display none
							.accion								
								&.processing
									background url(../imagenes/loading.gif) center center/cover
									.opc
										display none
										
						.tobottom
							position absolute
							bottom 0
							left 0
							text-align center
							width 100%
							transladar 0%,300%
							transition all .4s ease-in .2s
							.mybut
								span
									font-size 16px
		.nombre
			padding-top 10px
			h4
				font 16px open
				color gris
		.estadistica
			width 100%
			font 16px open
			color gris
			padding 5px 0 10px 0
			display inline-block
			position relative			
			>div
				width 50%
				float left
				.like
					&.activo
						i
							color lucuma					
				i
					color marron
					padding 0 3px
		.precios
			padding-top 5px
			span
				font 16px open
				color lucuma
				text-decoration line-through
			em
				font 24px open
				color marron2
				padding-left 7px
				font-weight bold

.minicaja
	position relative
	padding-right 40px
.triggerdate
	position absolute
	right 3px
	top 7px
	cursor pointer
// Anuncio Fixed
#anuncio
	position fixed
	top 50%
	right -2px
	width 260px
	z-index 9999
	transladar 193px,0px
	border 0
	background none
	&.active
		transladar 0px,0px
		.phone
			color white !important
			background-color lucuma !important
	.mitabla
		width 100%
		.caja1
			background-color lucuma
			padding 10px
			width 64px
			text-align center
			margin 0 auto
			border-bottom-left-radius 4px
			border-top-left-radius 4px
			.phone
				padding 10px
				color lucuma
				background-color white
				radius 5px
				font-size 22px
		.caja2
			background-color white
			padding 6px
			text-align center
			border-top 1px solid lucuma
			border-bottom 1px solid lucuma
			h6
				font 20px han
				color marron
				border-bottom 1px solid marron
				margin-bottom 5px
				display inline-block
			p 
				font 16px open
				color #505050
// Contenido principal
#principal
	position relative
	z-index 1
	&.perfil
		#listadefechasimportantes
			.datecontent
				position relative
				margin-top 30px
				padding-bottom 30px
				border-bottom 1px solid marron
				padding-left 30px
				&:after
					position absolute
					bottom 40px
					left 0
					content '●'
					display block
					font 16px open
					color marron
					counter-increment mifecha
			.todelete
				margin-bottom 10px				
				i 
					margin-left 10px
					vertical-align bottom
			.txteliminar
				font 16px open
				color marron
				display inline-block
				&:hover
					span					
						text-decoration underline !important
		#miscompras
			.productosfavoritos 
				margin 10px auto
				.item 
					.producto 
						.bg 
							.content
								width 90%
								height 20%
		.menuperfil
			border 2px solid lucuma
			border-radius 4px
			a
				font 16px open
				color marron
				padding 10px 15px
				&:hover
					background-color lucuma
					color white
		#foto
			padding 20px
			text-align center
			border 2px solid lucuma
			border-radius 4px
			img
				width 100%
				vertical-align middle
	&.carritodecompras
		.txtrecuperar
			display none
			padding-top 10px
			p
				font 14px open
				color marron
				i
					vertical-align -2px
					margin-right 5px
		.butsubmit
			margin-bottom 40px
		.nohaycompras
			text-align center
			p 
				font 16px open
				color marron		
		#mispedidos
			&.cupon
				.minicaja
					input
						+span
							display none !important
				#preguntas
					counter-reset item
					h3
						font 15px open
						color gris						
						padding-left 30px
						padding-top 15px
					li
						display block
						position relative
						&:before 
							position absolute
							top 15px
							left 16px
							font 15px open
							color gris
							content counters(item, ".") ". "
							counter-increment item 
				.minicaja
					position relative
					padding-right 40px
				.triggerdate
					position absolute
					right 3px
					top 7px
					cursor pointer
				.listadeproductos
					margin 30px auto
				h1 
					font 30px han
					color marron
			&.metodos
				#fin
					padding 20px 0
					margin-bottom 40px
				#metodopago
					.metodo						
						margin 20px auto
						.padd
							padding 10px
						.mitable						
							display table
							cursor pointer
							width 100%
							border 1px solid lucuma
							padding 10px 5px
							.help
								text-align center
								color #f3a848
								font-size 30px
								cursor pointer
								position relative
								i 
									z-index 1
									&:hover
										+.cont
											opacity 1
											z-index 2
								.cont
									opacity 0
									position absolute
									top 33px
									right 0
									width 250px
									height auto
									background-color #fff
									color #66340f
									font 12px open_sans
									padding 10px
									border 1px solid marron
									border-radius 4px
									z-index -1
									&:after
										border 2px solid #66340f
										border-right-color transparent
										border-left-color transparent
										border-width 0px 6px 8px
										content ''
										position absolute
										right 15px
										top -8px
								
										
							>div
								display table-cell
								vertical-align middle
								&:nth-child(1)
									width 15%
								&:nth-child(2)
									width 80%
								&:nth-child(3)
									width 5%
							.logo
								background-size contain
								background-position center center
								background-repeat no-repeat
																
				#frm-mensaje
					margin-bottom 30px
					&.recibos
						margin-bottom 0px
				.myline3
					&:before
						left 0 !important
						right inherit !important
				.listadeproductos 
					padding 30px 0
				#informacion									
					h1
						font 20px open
						color marron
			&.accesos
				margin-bottom 20px
				.myline3
					&:before
						left 0 !important
						right inherit !important
				.boxing
					padding-left 30px		
				.tospace
					padding 0 40px
				.listadeproductos
					padding 10px 0
					.tologin
						a
							font 16px open
							color gris
							text-decoration underline
							&:hover
								color marron
					.torecuperar
						display none
						.txtrecuperar
							padding-top 15px
							display none							
							p
								font 14px open
								color marron
								i
									vertical-align -2px
									margin-right 5px
							
					.producto
						margin 20px auto
						.titulo, label
							font-size 14px !important		
				.title
					border-bottom 2px solid lucuma
					padding 10px 0
					display inline-block
					h1,h2
						font 22px han
						color marron
			.total
				.tabla:last-child
					border-bottom none
				.tabla
					display table
					width 100%
					padding 10px 0
					border-top 1px solid lucuma
					.final
						font 20px han
						color marron
						em
							font-weight bold
					p
						font 17px open
						color gris			
					>div:first-child
						width 70%
						display table-cell
						vertical-align middle
					>div:last-child
						width 30%
						display table-cell
						vertical-align middle
			.nohaycompras 
				margin 40px auto
				display none
			.listadeproductos
				&.gracias
					
					.main 
						padding 10px 0
						.mybut.but-style2
							>span
								padding 9px 10px !important
						p 
							font 18px open 
							color gris
					.fotoproducto
						max-width 300px !important
					.etiqueta
						background-size contain
						padding 10px
						background-repeat no-repeat
						background-position center center
						width 285px
						height 150px
						margin 0 auto
						position relative
						margin-bottom 30px !important
						.cont 
							width 100%
							padding 30px
							display inline-block
							position absolute
							top 50%
							left 50%
							transladar -50%,-50%
							em
								color white
								display block
								&:first-child
									font 30px han
								&:last-child
									font 60px open
									font-weight bold
									line-height 55px
				.producto
					margin 60px auto
					label
						font 16px open
						color gris
					.fotoproducto
						max-width 140px
						width 100%
					.cajas
						.total
							font 20px han
							color marron
							em
								font-weight bold
						.minicaja
							margin 20px 0
							&.toicon
								position relative
								padding-right 40px
								i 
									position absolute
									right 10px
									top 7px
									cursor pointer
							&:last-child
								margin 35px 0 0	!important						
							input
								cursor pointer
								&+span
									display none					
							.select2-container 
								.select2-choice
									border-color lucuma !important	
					.titulo
						border-bottom 1px solid lucuma
						padding-bottom 10px
						margin-bottom 10px
						font 18px open
						color marron
						position relative
						.delete
							position absolute
							right 0
							top -10px
						h2 
							font-weight bold
							span
								color gris
								font-weight bold			
		#pasos
			margin-bottom 30px
			a 
				font 30px han
				color marron
				&:hover,&.active
					text-decoration underline
		#mensaje			
			.content
				padding 20px 0
			.inputs
				padding 20px 0
		#myform
			padding 50px 0
			.control-clone
				padding 10px 0			
		#calcularprecio
			p
				font 17px open
				color gris
			.dscto
				margin 50px auto
			.space
				padding 30px 0
			.bb 
				border-bottom 1px solid lucuma
			.total
				font 22px han
				color marron
				em
					font-weight bold
		#ubicacion
			margin 20px auto
			#mimapa
				margin 20px auto
				p
					font 14px open
					color marron
					margin 10px auto
				#load-gmap
					margin 10px auto
	#seccion
		position relative
	#clientes
		margin 50px auto
	#procesos
		.content
			margin 60px auto
			text-align center
			.myline3
				position relative
				&:last-child:before
					background none !important			
				.caja
					padding 80px 40px
					.noresponsive
						display block
					.responsive
						display none
				
			h3
				font 21px han
				color marron
				border-bottom 2px solid lucuma
				margin 20px 0
				display inline-block
			p
				font 16px open
				color gris				
	#categorias			
		&.responsive
			display none
			text-align center
			h5
				font 26px han
				color marron
			p 
				color marron
				font 16px open
				padding 10px 0
		.mitabla
			padding 44px 0px
			text-align center
			width 100%
			overflow hidden
			.ubicar
				transform translate(0,35%)
			>div
				padding 0 30px	
			.imagen
				img
					transition all .6s ease-in-out
			.namecat
				display inline-block
				width auto			
			h5
				font 26px han
				color marron	
			p
				color white
				font 16px open
				opacity 0
				transition opacity .36s ease-in .2s
			.but
				opacity 0
				transform translate(0,35%)
				transition transform .2s ease-in-out .3s
			.desc
				opacity 0
				min-height 70px
				margin 10px auto
		
				
		.kwicks-processed
			.hover
				display none
			.nohover
				display block
			
		.kwicks-collapsed
			.mitabla
				.ubicar
					transform translate(0,35%)
		.kwicks-expanded
			background lucuma
			.mitabla
				.ubicar
					transform translate(0,0%)

			.but,.desc
				opacity 1
			.but
				transform translate(0%,0%)			
							
			h5
				color white
			p 
				opacity 1				
			.hover
				display block
			.nohover
				display none	
		
	#banner
		.owl-controls
			position absolute
			bottom 40px
			left 0
			right 0
			margin auto
			width 150px
			height 50px
		.item
			position relative
			.responsive
				display none
			.content
				position absolute
				width 100%
				margin auto
				height 100%
				left 0
				right 0
				top 0
				bottom 0
				.descripcion
					position absolute
					right 80px
					top 80px
					width 350px
					h4
						font 28px han
						color #fff
						padding 10px 0
	
	#breadcrumbs
		background-color lucuma
		padding 10px
		margin-top 20px
		li 
			position relative
			&:last-child
				&:after
					content ''
				a 
					&:hover
						box-shadow 0px 0px 0 white !important
						cursor text
			&:after
				content '/'
				position absolute
				top 5px
				right 0
				color white
				
			display inline-block
			a 
				color white
				margin 0 14px
				font 16px open
				&:hover
					box-shadow 0px 1px 0 white
				&.active
					font-weight bold
					color marron
		
	#opinion
		.first
			margin-top 10px
		.second
			padding 0
			max-width 700px
			margin 0 auto
			.dinamico
				margin 30px auto
				.nologeado
					h3
						font 20px open
						color marron
						i
							color marron
							vertical-align -2px
							margin-right 10px
						a
							color lucuma
							&:hover
								text-decoration underline 					
				.textarea
					margin 20px auto
			#cargarmas
				margin 60px auto 60px auto
			#resultados
				.micomentario
					margin-bottom 40px
					background-color #FFF2DF
					padding 20px	
					&:last-child
						margin-bottom 0
					.tablita
						>div							
							.foto
								width 160px
								height 160px
								background-size cover
								background-position center center
						.texto							
							font-family open
							position relative
							width 100%
							min-height 160px						
							.titulo							
								p 
									color lucuma
									font-weight bold
							.descripcion
								color gris
								padding 10px 0
							.fecha
								position absolute								
								bottom 0
								p
									color gris
									font-weight bold
					
					&:nth-child(odd)
						.tablita
							>div
								&:first-child
									float left
									width 25%
									display block
								&:last-child
									float right
									width 75%
									display block
							.texto
								padding-left 10px								
								.fecha
									right 0							
					&:nth-child(even)
						.tablita
							>div
								&:first-child
									float right
									width 25%
									display block
								&:last-child
									float left
									width 75%
									display block
							.texto
								padding-right 10px								
								.fecha
									left 0	
				
		
	#formularios
		.globo
			border 1px solid lucuma
			padding 20px
			border-radius 5px
			position relative
			margin-bottom 20px
			&:after
				width 0
				height 0
				border-top 8px solid #fff
				border-right 8px solid transparent
				border-left 8px solid transparent
				content ''
				position absolute
				left 50%
				bottom -8px
				transform translate(-50%,0)
			&:before
				width 0
				height 0
				border-top 10px solid lucuma
				border-right 10px solid transparent
				border-left 10px solid transparent
				content ''
				position absolute
				left 50%
				bottom -10px
				transform translate(-50%,0)			
	#galeria
		#productosfavoritos
			margin 0 auto
			li
				margin 20px 0
	#milistaproductos
		margin 40px auto
		&.detallesdeproducto
			.item
				&:hover
					.capa
						opacity 1
						z-index 2
				.capa
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					background-color amarillohover
					z-index -1
					opacity 0
					i 
						position absolute
						top 50%
						left 50%
						transladar -50%,-50%
						color marron
						font-size 25px
				
				
			.lineamarron
				border-bottom 1px solid lucuma
				padding 10px 0
				position relative
			.thebut
				margin 40px auto				
			.total
				color marron
				font 20px han
				p 
					font-weight bold
			.price, .igv
				color gris
				font 16px open
			h2
				font 26px han
				color marron
			.pt7
				padding-top 7px
			.descripcion
				padding 20px 0
				p
					font 16px open
					color gris
		#misopciones
			border 1px solid lucuma
			radius 4px
			.dt				
				color marron
				cursor pointer
				transition background-color .3s ease-in-out
				&:hover,
				&.activo
					background-color lucuma
					.content
						em
							color white
						i 
							color white
				.content
					padding 15px 20px
					position relative
					em
						font 26px han
						color marron
					i
						position absolute
						width 30px
						height 30px
						margin auto
						top 0
						bottom 0
						font-size 30px
						right 10px
						color marron
						rotar 270deg
						transition transform .3s ease-in-out
				&.activo
					i
						rotar 90deg						
						
			.dd				
				.content					
					.linea
						border-bottom 1px solid lucuma
						&:last-child
							border-bottom none
						a
							padding 20px 20px
							font 21px rob
							color lucuma
							&:hover
								background-color amarillo									
					.opciones
						padding 20px
						>div:first-child
							padding-bottom 10px
						>div:last-child
							padding-top 10px
			
		
#cabecera
	position relative
	z-index 2
	.responsive
		display none
	#logo
		position relative
		img 
			position absolute
			top 10px
			left 10px
	// Menu
	#menu
		li
			a
				color marron
				font 16px robo
				padding 18px 20px
				position relative
				&:hover
					color white
					background marron
	.toderecha
		.touser
			position relative
			padding 0 22px
			.tooltip
				position absolute
				left 0
				bottom -30px
				background #66340f
				color #fff
				padding 4px 0
				display none
				.tologin
					position relative
					div:nth-child(1)
						a
							border-right 1px solid #ddd
					&:after
						border 2px solid #66340f
						border-right-color transparent
						border-left-color transparent
						border-width 0px 6px 8px
						content ''
						position absolute
						left 28px
						top -11px
					.links
						padding 0px 7px
						font-size 14px
						color #fff
						&:hover
							color lucuma
		.user
			font-size 23px
			vertical-align bottom			
				
		.tobuscar
			position relative
			min-width 190px
			input
				padding-right 25px !important
		.butbuscar
			position absolute
			top 5px 
			right 5px
			color lucuma
			&:hover
				color marron	
		.iconito
			color #66340f 
		.myinput
			font 12px rob
		.liston			
			width 60px
			height 20px
			text-align center
			position relative
			margin-left 30px
			.bg
				background url('../imagenes/liston.png') no-repeat
				background-size cover
				position absolute
				top 0
				right 0
				width 100%
				height 120px
				.canasta
					padding-top 20px
					padding-bottom 5px
					.canastita
						display inline-block
					
				.cantidad
					color white
					font 14px rob
#piedepagina
	z-index 0
	position relative

#suscripcion
	.contentgeneral
		padding 0
		.llamarcel
			display none
		.content1
			max-width 500px
			margin 0 auto
			text-align center
			padding 20px 0
			.llamarcel
				padding 20px 0
				.mitabla
					width 100%
					>div
						width 50%
						font 16px open_sans
						color marron
			h5
				font 26px han
				color marron				
			p 
				font 16px open
				color marron
				padding-bottom 10px
			.tosuscripcion
				.butbuscar
					position absolute
					height 38px
					right 0
					top 0
					padding 0 15px
					background #66340f
					color #fff
					width auto
					&:hover
						background  marronhover					
		.content2
			ul 
				text-align center
				width 100%
				margin0 auto
				li
					display inline-block
					a 
						padding 12px 15px
						font 16px open
						color marron
						&:hover
							color white
							background-color marron
		.content3
			padding 20px 0
			text-align center
			#redes-sociales
				li
					display inline-block
					margin 0 6px
					a
						width 35px
						height 35px
						background-color marron
						color white
						radius 50%
						text-align center
						font-size 19px
						vertical-align middle
						position relative
						i 
							position absolute
							left 50%
							top 50%
							transladar -48%,-54%
						&:hover
							background-color white
							color marron
		.content4
			text-align center
			padding 20px 0
			.mitabla
				margin 0 auto
			img
				vertical-align middle
				padding-left 10px				
			p
				font 14px open
				color marron
		.content5
			padding 20px 0
			
@media only screen and (max-width: 1300px)
	#principal 
		#categorias 
			.mitabla
				padding 20px 0
				>div
					padding 0 20px
@media only screen and (max-width: 1200px)
	.productosfavoritos 
		.item 
			.producto 
				.bg 
					.content
						width 90%
						
	#principal
		&.carritodecompras			
			#mispedidos
				&.accesos
					.tospace
						padding 10px
		#categorias 
			.mitabla
				padding 10px 0
				>div
					padding 0 10px

@media only screen and (max-width: 992px)

	.content-radio
		display block !important
		padding-bottom 10px !important
	#pasos
		.tac 
			text-align left !important
			padding 0
			margin 8px 15px
			i 
				width 49px !important
				
	#principal
		#micontacto
			.foto
				max-width 300px
				margin 0 auto
		&.perfil
			#listadefechasimportantes 
				.datecontent
					padding-left 0px
					&:after
						display none
		&.carritodecompras
			#mispedidos 
				.listadeproductos
					&.gracias 
						.fotoproducto
							margin 0 auto
							text-align center
			#myform
				padding-top 0px !important				
				.listadeproductos 
					.producto
						margin 30px auto !important
						.fotoproducto
							text-align center
							margin 0 auto
							max-width 200px
							padding-bottom 10px
				&.accesos
					.myline3
						&:before
							display none !important
					.tospace
						padding 10px 0px
	#suscripcion
		padding 0 20px
		.contentgeneral
			.content2 
				ul
					li
						display block
						position relative
						&:after
							content ''
							background url(../imagenes/linea4.png) repeat-x
							width 100%
							height 1px
							position absolute
							top 0
							right 0
							display block!important
		
	#categorias
		&.noresponsive
			display none
		&.responsive
			display block !important
			li
				margin-top 40px
	#cabecera
		.canasta
			.count
				color marron
				font 14px open
				padding-right 12px	
				vertical-align 12px
			.canastita
				display inline-block
		.responsive
			display block
			.info
				background-color white
				padding 5px 10px
				display table
				width 100%
				.links					
					font 12px open
					color gris
					a 
						padding-right 5px
						&:first-child:after
							content '/'
							color #000
							padding-left 10px
						&:hover
							color marron
				>div
					display table-cell
					width 50%
					vertical-align middle
			.logito
				padding 10px 0
				text-align center
			.buscador
				padding 10px
				.tobuscar
					padding 0
					position relative
					.butbuscar
						position absolute
						width 70px
						height 38px
						right 0
						top 0
						padding 0 !important
						background marron
						color white
						&:hover
							color lucuma
							background marronhover
							
		.noresponsive
			display none
	#banner
		.owl-controls
			position relative !important
			bottom inherit !important
			left 0 !important
			right 0 !important
			margin 10px auto !important
			width 100% !important
			height auto !important
			text-align center !important
		.responsive
			display block !important
		.noresponsive
				display none !important
		.content
			display none
	.maxw
		padding 20px 10px
	.flechas
		.flecha	
			&.responsive
				display inline-block
			&.noresponsive
				display none
	.titulo 
		.capa 
			.lineas 
				h2
					display block
	#favoritos
		.item
			position relative		
		.productosfavoritos
			margin 0px auto
	
	#principal
		#procesos
			.content
				margin 10px auto
				.myline3 
					.caja
						padding 0px 0px 20px 0
						.noresponsive
							display none
						.responsive
							display block
						img
							max-width 300px
							margin 0 auto
						h3
							display inline-block
						&:after
							display none !important
						
					&:after
						background none					
						
		&.butbuscar
			display block
			width auto !important
			padding 0px !important

@media only screen and (max-width: 600px)
	#principal
		&.carritodecompras
			#mispedidos
				&.metodos
					#metodopago 
						.metodo
							label
								width 100%
							.mitable
								display block !important
								.help
									text-align left
									cursor initial
									i
										display inline-block
										
									.cont
										position relative
										color black
										top inherit
										bottom inherit
										left inherit
										right inherit
										opacity 1
										border none
										width auto
										height auto
										z-index 1 !important
										background-color inherit
										display inline-block
										vertical-align 4px
										&:after
											display none
								>div
									width 100% !important
									display block !important
									padding 10px !important
									&:nth-child(1)
										height 60px !important
				&.accesos 
					.tospace
						padding 10px 0 !important
				.listadeproductos 
					.producto
						margin 30px auto !important
						.fotoproducto
							text-align center
							margin 0 auto
			#myform
				padding-top 0 !important		
		#opinion
			#cargarmas
				margin 30px auto 0 !important
			.dinamico
				margin 20px auto 20px auto !important
			#resultados 
				.micomentario
					.tablita
						.fecha 
							position relative !important
							top inherit !important
							bottom inherit !important
							left inherit !important
							right inherit !important
						.foto
							margin 0 auto
						>div
							width 100% !important
							float none !important
							margin 10px auto
		#milistaproductos
			margin 20px auto
			.total
				padding-top 20px !important
			.price
				text-align left !important
				padding-bottom 10px
			.flechas 
				.toizq, .toder
					display inline-block !important
					position relative !important
					top inherit !important
					bottom inherit !important
					left inherit !important
					right inherit !important
			#cargar-productos
				max-width 100% !important
			.thebut 
				margin 10px 0 !important
	#suscripcion
		padding 0 20px
		.contentgeneral
			.llamarcel
				display block 
			.content1
				padding 0
				h5
					line-height 26px
					border-bottom 1px solid marron
					margin 20px auto
					padding-bottom 10px
					
	#anuncio
		display none
	#popup 
		.contenido 
			.micaja
				padding 10px
	.content4 
		.mitabla
			display block
			>div
				display block
				padding 10px 0